{% extends 'base2.html.twig' %}

{% block title %}New Category{% endblock %}

{% block body %}

    <h1 style="width:50%;margin:auto">
        <span style="color:#66CC66">C</span>
        <sub>  <span style="color: #3f51b5">A</span></sub>
        <span style="color:#FFCCCC">T</span>
        <sub>  <span style="color:#FF0066">E</span></sub>
        <span style="color:#FF0000">G</span>
        <sub>   <span style="color:#66CC66">O</span></sub>
        <span style="color:#3f51b5">R</span>
        <sub>  <span style="color:#FFCCCC">Y</span></sub>
    </h1>
<div style="margin-left: 30%;margin-right: 30%">
 <p style="color: #8a6d3b"> new category</p>
<div style="margin-left: 30%;margin-right: 30%">
    {{ include('category_c/_form.html.twig') }}
</div>
    <a class="fa fa-home " style="font-size:48px;color:#ba54f5;margin-left: 15%"  href="{{ path('category_c_index') }}"></a>
{% endblock %}
