{% extends 'base2.html.twig' %}

{% block title %}{{ SalleSport.nomSalle}}{% endblock %}

{% block body %}

    <p>{{ SalleSport.descriptionSalle }}</p>
    <hr>
    <a href="/homeSalle"> Go Back  </a>
{% endblock %}