{% extends 'base2.html.twig' %}

{% block title %}Edit Category{% endblock %}

{% block body %}
    <h1>Edit Category</h1>
<body style="color: #c69500">
    {{ include('category_controllers/_form.html.twig', {'button_label': 'Update'}) }}

    <a  class="fa fa-home " style="font-size:48px;color:#ba54f5;margin-left: 15%"  href="{{ path('category_controllers_index') }}"></a>

    {{ include('category_controllers/_delete_form.html.twig') }}
</body>
{% endblock %}
