{% extends 'base.html.twig' %}

{% block title %}New Category2{% endblock %}

{% block body %}
    <h1>Create new Category2</h1>

    {{ include('cat_c/_form.html.twig') }}

    <a href="{{ path('cat_c_index') }}">back to list</a>
{% endblock %}
