<form method="post" action="{{ path('exercice_delete', {'idEx': exercice.idEx}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ exercice.idEx) }}">
    <button class="btn">Delete</button>
</form>
